<main id="page-content">
    <div class="container-fluid px-5">

        <div class="grid-container" style="color: white; padding-bottom: 10%;">
            <div class="areaHtml">
                <div class="mb-3 div-areaHtml">
                    <ngx-monaco-editor #html [options]="optionsEditorHtml" [(ngModel)]="codeHTML" (ngModelChange)="onCodeChange()"></ngx-monaco-editor>
                </div>
            </div>
            <div class="areaCss">
                <div class="mb-3 div-areaCss">
                    <label for="cssTextarea" class="form-label">CSS</label>
                    <ngx-monaco-editor #css [options]="optionsEditorCss" [(ngModel)]="codeCSS" (ngModelChange)="onCodeChange()"></ngx-monaco-editor>
                </div>
            </div>
            <div class="areaJs">
                <div class="mb-3 div-areaJs">
                    <label for="jsTextarea" class="form-label">JavaScript</label>
                    <ngx-monaco-editor #js [options]="optionsEditorJs" [(ngModel)]="codeJS" (ngModelChange)="onCodeChange()"></ngx-monaco-editor>
                </div>
            </div>

            <!--DESCRIPCION DEL PROYECTO-->
            <div class="areaProyecto pt-4">

                <!--Descripcion del proyecto y enlace-->
                <div class="d-grid d-xxl-flex d-xl-flex d-lg-flex d-md-flex justify-content-between align-items-center">

                    <div class="d-flex mb-3">
                        <i class="fa-solid fa-folder" style="color: #7741BD; font-size: 50px;"></i>
                        <h1 class="mx-3">Web example</h1>
                    </div>

                    <div class="d-flex mb-3">
                        <i class="fa-solid fa-code pt-2"></i>
                        <a href="#" class="m-1 text-decoration-none text-white">Copiar enlace</a>
                    </div>

                </div><!--FIN Descripcion del proyecto y enlace-->

                <!--Creado por y colaboradores-->
                <div class="d-grid d-xxl-flex d-xl-flex d-lg-flex d-md-flex justify-content-between align-items-center">

                    <div class="d-flex mb-3">
                        <p><strong>Creado por: </strong><small>Última modificación: Hace 30 minutos.</small></p>
                    </div>
                    
                    <!--Colaboradores-->
                    <div class="d-flex">
                        <i class="fa-solid fa-cloud mx-1" style="color: #7741BD;"></i>
                        <h6 class="mx-1">Colaboradores</h6>
                        <i class="fa-solid fa-user mx-1" style="color: #7741BD;"></i>
                        <i class="fa-solid fa-user mx-1" style="color: #7741BD;"></i>
                        <i class="fa-solid fa-user mx-1" style="color: #7741BD;"></i>
                    </div><!--Fin Colaboradores-->

                </div><!--FIN Creado por y colaboradores-->

            </div><!--FIN DESCRIPCION DEL PROYECTO-->

            <!--RESULTADO-->
            <div class="areaResultado">
                <div class="mb-3 div-resultado">
                    <label for="resultadoTextarea" class="form-label">Resultado</label>
                    <iframe #resultCode srcdoc="" class="form-control h-100" id="resultadoTextarea" frameborder="0"></iframe>
                </div>
            </div><!--FIN RESULTADO-->
        </div>

    </div>
</main>