
.areaHtml { grid-area: area-html; }
.areaCss { grid-area: area-css; }
.areaJs { grid-area: area-js; }
.areaProyecto { grid-area: area-proyecto; }
.areaResultado { grid-area: area-resultado; }

.grid-container {
    display: grid;
    grid-template-areas: 'area-html area-proyecto' 'area-css area-resultado' 'area-js area-resultado';
    gap: 10px;
    padding: 10px;
    /*background-color: #2196F3;*/
}

.div-resultado{
    height: 325px;
}
/*
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}*/

@media (max-width: 1000px) {
    .grid-container {
        grid-template-areas: 
        'area-proyecto' 
        'area-html' 
        'area-css' 
        'area-js'
        'area-resultado';
    }

    .div-resultado{
        height: 240px;
        padding-bottom: 10%;
    }
}

@media (max-width: 740px) {
    .div-resultado{
        padding-bottom: 15%;
    }
}

@media (max-width: 600px) {
    .div-resultado{
        padding-bottom: 20%;
    }
}

@media (max-width: 460px) {
    .div-resultado{
        padding-bottom: 28%;
        padding-right: 10%;
    }
    .div-areaHtml{
        padding-right: 10%;
    }

    .div-areaCss{
        padding-right: 10%;
    }

    .div-areaJs{
        padding-right: 10%;
    }
}

/*


@media (max-width: 500px) {
    .container-fluid{
        background-color: blue;
    }
}*/
