<main id="page-content">
    <div class="container-fluid col-8" style="padding-bottom: 10%;">

        <div class="d-flex justify-content-center align-items-center">

            <div class="card" style="width: 100%;">
                <div class="row">
                    <div class="col">
                        <div class="card-body">
                            <p class="card-text">
                                Actualmente cuentas con con un plan:
                            </p>
                            <p class="card-text">
                                <i class="fa-solid fa-crown" style="color: #7741BD; font-size: 30px;"></i>
                                Elite
                            </p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex justify-content-end">
                            <img src="/img/undraw_freelancer_re_irh4.svg" alt="" width="250px">
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row mt-4">

            <!--INICIO cards de proyectos-->
            <div class="col">
                
                <div class="card mb-3" style="width: 100%;">
                    <div class="card-body">
                        <div class="d-flex">
                            <i class="fa-solid fa-folder" style="color: #7741BD; font-size: 30px;"></i>
                            <h4 class="mx-2">Web example</h4>
                        </div>
                        <div class="d-flex justify-content-between mt-3">
                            <h6 class="card-text" style="font-size: 15px;">Ultima modificacion hace: 30 min</h6>
                            <i class="fa-solid fa-square-arrow-up-right" style="color: #7741BD; font-size: 30px;"></i>
                        </div>
                    </div>
                </div>

                <div class="card mb-3" style="width: 100%;">
                    <div class="card-body">
                        <div class="d-flex">
                            <i class="fa-solid fa-folder" style="color: #7741BD; font-size: 30px;"></i>
                            <h4 class="mx-2">Web example</h4>
                        </div>
                        <div class="d-flex justify-content-between mt-3">
                            <h6 class="card-text" style="font-size: 15px;">Ultima modificacion hace: 30 min</h6>
                            <i class="fa-solid fa-square-arrow-up-right" style="color: #7741BD; font-size: 30px;"></i>
                        </div>
                    </div>
                </div>

                <div class="card mb-3" style="width: 100%;">
                    <div class="card-body">
                        <div class="d-flex">
                            <i class="fa-solid fa-folder" style="color: #7741BD; font-size: 30px;"></i>
                            <h4 class="mx-2">Web example</h4>
                        </div>
                        <div class="d-flex justify-content-between mt-3">
                            <h6 class="card-text" style="font-size: 15px;">Ultima modificacion hace: 30 min</h6>
                            <i class="fa-solid fa-square-arrow-up-right" style="color: #7741BD; font-size: 30px;"></i>
                        </div>
                    </div>
                </div>

            </div><!--FIN cards de proyectos-->

            <div class="col">
                <div class="card mb-3" style="width: 100%; height: 100%;">
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
