<main id="page-content" class="h-100">
    <div class="container-fluid d-flex justify-content-center align-items-center">
        <form action="" class="formulario" style="margin-bottom: 160px;">
            <h1 class="text-center mt-4 mb-4">Iniciar Sesión</h1>
            <div class="mb-3">
                <label for="emailInput" class="form-label">Correo electronico</label>
                <input type="email" class="form-control" id="emailInput" placeholder="desarrollador@gmail.com">
            </div>
            <div class="mb-3">
                <label for="passwordInput" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="passwordInput" placeholder="************">
            </div>
            <div class="mb-3 mt-4 text-center">
                <button type="" class="btn btn-login">Ingresar</button>
            </div>
            <div class="contenedor-grip py-5 d-flex align-content-center justify-content-between">
                <a href="" class="btn btn-ref">
                    <i class="fa-brands fa-facebook"></i> Ingresar con Facebook
                </a>
                <a href="" class="btn btn-ref">Olvide mi contraseña</a>
            </div>
        </form>
    </div>
</main>

